.App {
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400, 500, 300, 700);
body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
}


button {
  border: 2px solid white;
  background-color: #BED;
  color: rgb(255, 255, 255);
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;

}

button:hover {
  background-color: #d0dbe9;
  color: white;
}


button:focus {outline:0;}

a {
  cursor: pointer;
}

a:hover {
  color: #BED;
}

svg {
  margin-right: 5px;
}
