
.movieListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #BED;
  text-transform: uppercase;
}

ul {
  list-style-type: square;
}

li {
  color: #555;
  font-size: 24px;
}
